body {
    font-family: arial, sans-serif;
}

h1 {
    color:#596BCA;
    font-size: 24px;
    font-weight: 100;
}

li {
    list-style-type: none;
}

.weather-app {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 20px 0 20px;
    border: 1px solid #596BCA;
    border-radius: 10px;
}

.current-date-section {
    margin: 10px 0 0 0;
    padding-left: 0;
}

.current-temperature {
    padding-top: 17px;
    font-size: 35px;
    font-weight: 500;
}

.current-conditions {
    padding-top: 25px;
}

.units {
    font-size: 15px;
    position: relative;
    top: -14px;
}

#description {
    text-transform: capitalize;
}

#main-icon {
    font-size: 50px;
    margin-right: 15px;
}

